In [9]:
# List of high schools
high_schools=["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

for x in high_schools:
    print(x)
    
    #OR
    
#for school in high_schools:
    #print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [19]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [26]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [20]:
# Add the Pandas dependency.
import pandas as pd

In [24]:
#Create a Panda series from a list
school_series=pd.Series(high_schools)

In [22]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0    Hernandez High School
1     Figueroa High School
2       Wilson High School
3       Wright High School
dtype: object

In [25]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [27]:
school_df=pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [28]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [33]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [43]:
# Add the list to a new DataFrame.
#schools_df["School ID"] = school_id
            #how do you do more at once????

# Print the DataFrame.
#schools_df   

#OR

# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
# Print the DataFrame.
high_schools_dict

{'School ID': [0, 1, 2, 3, 4],
 'school_name': ['Huang High School',
  'Figueroa High School',
  'Shelton High School',
  'Hernandez High School',
  'Griffin High School'],
 'type': ['District', 'District', 'Charter', 'District', 'Charter']}

In [44]:
# Initialize a new DataFrame.
high_school_dict=pd.DataFrame()

In [45]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [46]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [47]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [51]:
#Create a list for each column
school_series=pd.Series(high_schools_dict)
print(school_series)

School ID                                        [0, 1, 2, 3, 4]
school_name    [Huang High School, Figueroa High School, Shel...
type            [District, District, Charter, District, Charter]
dtype: object

In [52]:
#Add each list to a new Pandas
school_series=pd.Series(high_schools_dict)
# Print the DataFrame.
high_schools_dict

{'School ID': [0, 1, 2, 3, 4],
 'school_name': ['Huang High School',
  'Figueroa High School',
  'Shelton High School',
  'Hernandez High School',
  'Griffin High School'],
 'type': ['District', 'District', 'Charter', 'District', 'Charter']}