In [1]:
#Add the Pandas dependency.
import pandas as pd
import os

In [2]:
#********************************************************
#********************************************************
#Loading clean student data from 4.6.1
#********************************************************
#********************************************************

school_data_to_load = os.path.join("Resources", "schools_complete.csv")
clean_students_data_to_load = os.path.join("Resources", "clean_students_complete.csv")

In [3]:
# # Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [4]:
# Read the student data file and store it in a Pandas DataFrame.
clean_students_data_df = pd.read_csv(clean_students_data_to_load)
clean_students_data_df

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...,...
39165,39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [5]:
# Add the DataFrames to be merged.
# Add the shared column to each DataFrame so that the merge can occur.
# Define how the DataFrames should be merged: left, right, inner, or outer. The default is inner.
#modified to use clean_students_data

# Combine the data into a single dataset.
school_data_complete_df = pd.merge(clean_students_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [ ]:
# Get the total number of students.
student_count = school_data_complete_df.count()
student_count

In [ ]:
#Get the total number of students.
student_count=school_data_complete_df["Student ID"].count()
student_count

In [ ]:
# Calculate the total number of schools.
school_count = school_data_df["school_name"].count()
school_count

In [ ]:
# Calculate the total number of schools
school_count_2 = school_data_complete_df["school_name"].unique()
school_count_2

In [ ]:
#tip: check your answer in excel to see if it matches
# Calculate the total budget.
total_budget = school_data_df["budget"].sum()
total_budget

In [ ]:
# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

In [ ]:
# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

In [ ]:
#Define the passing score variable for math
passing_math = school_data_complete_df["math_score"] >= 70
passing_math

In [ ]:
#Define the passing score variable for reading
passing_reading = school_data_complete_df["reading_score"] >= 70
passing_reading

In [ ]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

In [ ]:
# Get all the students who are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading.head()

In [ ]:
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()
print(passing_math_count)

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()
print(passing_reading_count)

In [ ]:
#Get the total number of students.
student_count=school_data_complete_df["Student ID"].count()
student_count

In [ ]:
# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(student_count) * 100
print(passing_math_percentage)

# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(student_count) * 100
print(passing_reading_percentage)

In [ ]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading.head()

In [ ]:
# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

In [ ]:
# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

In [ ]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

In [ ]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

In [ ]:
# Define a function that calculates the percentage of students that passed both # math and reading and prints the passing percentage to the output when the
# function is called.
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [ ]:
passing_math_count = 29370
total_student_count = 39170

In [ ]:
# Call the function.
passing_math_percent(passing_math_count, total_student_count)

In [ ]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

In [ ]:
# Format "Average Math Score" to have the comma for a thousands separator, a decimal separator, and a "$".
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Math Score"]

In [ ]:
# Format "Average Reading Score" to have the comma for a thousands separator, a decimal separator, and a "$".
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"]

In [ ]:
# Format "% Passing Math" to have the comma for a thousands separator, a decimal separator, and a "$".
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Math"]

In [ ]:
# Format "% Passing Reading" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Passing Reading"]

In [ ]:
# Format "% Overall Passing" to have the comma for a thousands separator, a decimal separator, and a "$".
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

district_summary_df["% Overall Passing"]

In [ ]:
#Display the DataFrame.
district_summary_df

In [ ]:
# # Reorder the columns in the order you want them to appear.
# new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# # Assign district summary df the new column order.
# district_summary_df = district_summary_df[new_column_order]
# district_summary_df

In [ ]:
#Determine the school type
per_school_types=school_data_df.set_index(["school_name"])["type"]
per_school_types

In [ ]:
#Add the per_school_types into a Dataframe for testing
df = pd.DataFrame(per_school_types)
df

In [ ]:
#Calculate the total student count
#can't use the index with school data as it is not on school name; will need to use set_index
per_school_counts=school_data_df.set_index(["school_name"])["size"]
per_school_counts

In [ ]:
#Calculate the total student count
per_school_counts=school_data_complete_df["school_name"].value_counts()
per_school_counts

In [ ]:
#Calculate the total school budget
per_school_budget=school_data_df.set_index(["school_name"])["budget"]
per_school_budget

In [ ]:
#Calculate the per capita spending
per_school_capita=per_school_budget/per_school_counts
per_school_capita

In [ ]:
#Calculate math scores
student_school_math=clean_students_data_df.set_index(["school_name"])["math_score"]
student_school_math

In [ ]:
#Calculate the average scores per school
per_school_averages=school_data_complete_df.groupby(["school_name"]).mean()
per_school_averages

In [6]:
#Calculate the average math scores per school
per_school_math=school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [ ]:
#Calculate the average reading scores per school
per_school_reading=school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
per_school_reading

In [ ]:
# To get the passing percentages, we need to:
 # 1. Determine what is the passing grade.  determined that >=70 is considered passing
 # 2. Get the number of students who passed math and reading.
 # 3. Get the students who passed math and passed reading

In [ ]:
#Get the number of students who passed math
passing_math=school_data_complete_df[(school_data_complete_df["math_score"]>=70)]


passing_math

In [ ]:
#Get the number of students who pass reading
passing_reading=school_data_complete_df[(school_data_complete_df["reading_score"]>=70)]
passing_reading

In [ ]:
# Calculate the passing scores by creating a filtered DataFrame.
###assigning new variable names
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_math.head()

#per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]
#per_school_passing_reading.head()

In [ ]:
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]
per_school_passing_reading.head()

In [ ]:
# ## Calculate the number of students passing math by school.
### this is the reason for the new variable names


per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_math.head()
# per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

In [ ]:
# ## Calculate the number of students passing reading by school.
per_school_passing_reading=per_school_passing_reading.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading

In [ ]:
# Calculate the percentage of passing math scores per school.
per_school_passing_math=per_school_passing_math/per_school_counts*100
per_school_passing_math

In [ ]:
# Calculate the percentage of passing reading scores per school.
per_school_passing_reading=per_school_passing_reading/per_school_counts*100
per_school_passing_reading

In [ ]:
# Calculate the students who passed both math and reading. and put in a new dataframe
#per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
per_passing_math_reading=school_data_complete_df[(school_data_complete_df["math_score"]>=70)& (school_data_complete_df["reading_score"]>=70)]
per_passing_math_reading.head()

In [ ]:
# Calculate the number of students who passed both math and reading.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]
#per_passing_math_reading=per_passing_math_reading.groupby(["school_name"]).count()["student_name"]
per_passing_math_reading

In [ ]:
# Calculate the overall passing percentage.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

per_overall_passing_percentage

In [ ]:
#Adding a list of values with keys to creat a new DataFrame
per_school_summary_df=pd.DataFrame({"School Type":per_school_types,
				"Total Students": per_school_counts,
				"Total School Budget":per_school_budget,
				"Per Student Budget": per_school_capita,
				 "Average Math Score": per_school_math,
				 "Average Reading Score": per_school_reading,
				 "% Passing Math":per_school_passing_math,
				"% Passing Reading":per_school_passing_reading,
				 "% Overall Passing":per_overall_passing_percentage})
per_school_summary_df.head()

In [ ]:
# Format the Total School Budget and the Per Student Budget columns.

per_school_summary_df["Total School Budget"]= per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)


per_school_summary_df.head()

In [ ]:
# Sort and show top five schools.

top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)

top_schools.head()

In [ ]:
# Sort and show bottom five schools.
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)

bottom_schools.head()

In [ ]:
# Create a grade 9 level DataFrames.

ninth_graders=school_data_complete_df[(school_data_complete_df["grade"]=="9th")]
ninth_graders.head()

In [ ]:
# Create a grade 10 level DataFrames.

tenth_graders=school_data_complete_df[(school_data_complete_df["grade"]=="10th")]
tenth_graders.head()

In [ ]:
# Create a grade 11 level DataFrames.

eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]
eleventh_graders.head()

In [ ]:
# Create a grade 12 level DataFrames.

twelfth_graders=school_data_complete_df[(school_data_complete_df["grade"]=="12th")]
twelfth_graders.head()

In [ ]:
# Group grade 9 level DataFrame by the school name for the average math score.
nineth_graders_math_scores=school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
nineth_graders_math_scores

In [ ]:
# Group grade 10 level DataFrame by the school name for the average math score.
tenth_graders_math_scores=school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
tenth_graders_math_scores

In [ ]:
# Group grade 11 level DataFrame by the school name for the average math score.
#eleventh_graders_math_scores=school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
eleventh_graders_math_scores = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
eleventh_graders_math_scores

In [ ]:
# Group grade 12 level DataFrame by the school name for the average math score.
twelfth_graders_math_scores=school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
twelfth_graders_math_scores